body {
   height: 100vh;
   width: 100vw;
   background-color: #000;
}

body,
.main-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.main-container {
   width: 50vw;
   height: 45vh;
   border: 3px solid orangered;
   border-radius: 1vw;
   background-color: grey;
   padding: 1%;
}

.control-buttons-and-titles {
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   width: 100%;
}

.control-buttons {
   display: flex;
   gap: 0.5vw;
}

.input-label {
   width: 1rem;
   height: 1rem;
   background-color: #000;
   border: 2px solid #000;
   border-radius: 50%;
   opacity: 0.5;
   cursor: pointer;
   transition: all 0.6s ease-in-out;
}

.input-label:hover {
   opacity: 1;
   transform: scale(1.1);
}

.input-buttons {
   display: none;
}

#in1:checked ~ .control-buttons > .il1 {
   background-color: aquamarine;
}

#in1:checked ~ .control-buttons > .il1:hover {
   cursor: default;
   transform: scale(1);
}

#in2:checked ~ .control-buttons > .il2 {
   background-color: aquamarine;
}

#in2:checked ~ .control-buttons > .il2:hover {
   cursor: default;
   transform: scale(1);
}

#in3:checked ~ .control-buttons > .il3 {
   background-color: aquamarine;
}

#in3:checked ~ .control-buttons > .il3:hover {
   cursor: default;
   transform: scale(1);
}

#in4:checked ~ .control-buttons > .il4 {
   background-color: aquamarine;
}

#in4:checked ~ .control-buttons > .il4:hover {
   cursor: default;
   transform: scale(1);
}

.titles {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5%;
}

.meme-title {
   display: none;
   transition: all 0.6s ease-in-out;
}

#in1:checked ~ .titles > .mt1 {
   display: flex;
}

#in2:checked ~ .titles > .mt2 {
   display: flex;
}

#in3:checked ~ .titles > .mt3 {
   display: flex;
}

#in4:checked ~ .titles > .mt4 {
   display: flex;
}